<section id="contact" class="contact">
    <div class="row">
        <div class="checkout col-md-5">
            <div class="row">
                @if(Session::has('username'))
                @foreach($pesan as $pesan)
                <div class="col-md-5">
                    <img src="{{asset('image')}}/gallery1.jpg" alt="">
                </div>

                <div class="col-md-7">

                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <h6>Nama : {{$pesan->nama}} </h6>
                            </div>
                        </div>
                        <div class="form-group ">
                            <h6>Harga :@currency($pesan-> harga) </h6>
                        </div>
                        <div class="form-group ">
                            <h6>Kuantitas : {{$pesan->quantity}} </h6>

                        </div>
                        <input type="hidden" name="total" value="{{$pesan->quantity * $pesan->harga}}">
                        <div class="text-center hapus">
                            <a href="/pesan/hapus"> <i class="bi bi-trash"></i></a>
                        </div>
                        @endforeach
                        @endif
                        <button type="submit" onclick="window.location.href='/menu'">Batal</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>